.map {
  width: 35%;
  flex: .4
}

.map__container {
  display: flex;
  border: 3px solid #fff;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  background-color: #0f1923;
  z-index: 1;
}

.map__label {
  color: #0f1923;
  position: absolute;
  right: 0;
  transform: rotate(90deg);
  right: -7rem;
  top: 4rem;
  font-size: 2rem;
}
