.lineup {
  display: flex;
  position: relative;
  margin: auto;
  padding: 5%;
  width: 100%;
}

.lineup__info {
  flex: 0.5;
}

.lineup__backgroundText {
  position: absolute;
  color: white;
  font-size: 32rem;
  font-family: "Oswald", Bold, arial, georgia, sans-serif;
  line-height: 0.82;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.125);
  text-transform: uppercase;
  z-index: 0;
  left: 0;
  bottom: 0;
  /* transform: rotate(90deg);
  right: 0;
  top: 0; */
}
